{% extends "base_page.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <table class="table border shadow">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Data de Nascimento</th>
          <th scope="col">Matrícula</th>
        </tr>
      </thead>
      <tbody>
      
      {{ dump(alunos) }}

      {% for aluno in alunos %}
          <tr>
            <td><a href="/alunos/{{ aluno.matricula }}">{{ aluno.nome }}</a></td>
            <td>{{ aluno.data }}</td>
            <td>{{ aluno.matricula }}</td>
          </tr>
      {% endfor %}
        
      </tbody>
    </table>

{% endblock %}



